li .ak {
    background-image: url(/web/media/ak.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .al {
    background-image: url(/web/media/al.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .ar {
    background-image: url(/web/media/ar.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .az {
    background-image: url(/web/media/az.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .ca {
    background-image: url(/web/media/ca.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .co {
    background-image: url(/web/media/co.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .ct {
    background-image: url(/web/media/ct.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .de {
    background-image: url(/web/media/de.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .fl {
    background-image: url(/web/media/fl.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .ga {
    background-image: url(/web/media/ga.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .hi {
    background-image: url(/web/media/hi.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .ia {
    background-image: url(/web/media/ia.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .id {
    background-image: url(/web/media/id.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .il {
    background-image: url(/web/media/il.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .in {
    background-image: url(/web/media/in.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .ks {
    background-image: url(/web/media/ks.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .ky {
    background-image: url(/web/media/ky.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .la {
    background-image: url(/web/media/la.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .ma {
    background-image: url(/web/media/ma.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .md {
    background-image: url(/web/media/md.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .me {
    background-image: url(/web/media/me.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .mi {
    background-image: url(/web/media/mi.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .mn {
    background-image: url(/web/media/mn.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .mo {
    background-image: url(/web/media/mo.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .ms {
    background-image: url(/web/media/ms.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .mt {
    background-image: url(/web/media/mt.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .nc {
    background-image: url(/web/media/nc.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .nd {
    background-image: url(/web/media/nd.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .ne {
    background-image: url(/web/media/ne.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .nh {
    background-image: url(/web/media/nh.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .nj {
    background-image: url(/web/media/nj.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .nm {
    background-image: url(/web/media/nm.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .nv {
    background-image: url(/web/media/nv.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .ny {
    background-image: url(/web/media/ny.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .oh {
    background-image: url(/web/media/oh.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .ok {
    background-image: url(/web/media/ok.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .or {
    background-image: url(/web/media/or.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .pa {
    background-image: url(/web/media/pa.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .ri {
    background-image: url(/web/media/ri.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .sc {
    background-image: url(/web/media/sc.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .sd {
    background-image: url(/web/media/sd.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .tn {
    background-image: url(/web/media/tn.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .tx {
    background-image: url(/web/media/tx.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .ut {
    background-image: url(/web/media/ut.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .va {
    background-image: url(/web/media/va.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .vt {
    background-image: url(/web/media/vt.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .wa {
    background-image: url(/web/media/wa.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .wi {
    background-image: url(/web/media/wi.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .wv {
    background-image: url(/web/media/wv.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}

li .wy {
    background-image: url(/web/media/wy.png);
    background-size: 3.4rem;
    background-repeat: no-repeat;
    padding: 0rem 0 1rem 5rem;
    margin-bottom: 2rem;
}